<mat-card>
	<form action="" (submit)="onAddPost(postForm)" #postForm="ngForm">
		<mat-form-field>
			<input
				matInput
				type="text"
				name="title"
				placeholder="Post title"
				#title="ngModel"
				ngModel
				required />
				<mat-error *ngIf="title.invalid">Pelase enter a post title</mat-error>
		</mat-form-field>
		<mat-form-field>
			<textarea
				matInput
				rows="6"
				name="content"
				placeholder="Post content"
				#title="ngModel"
				ngModel
				required>
			</textarea>
			<mat-error *ngIf="title.invalid">Pelase enter a post title</mat-error>
		</mat-form-field>
		<button
			mat-raised-button
			color="primary"
			type="submit">Save post</button>
	</form>
</mat-card>